<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<title>Welcome to my Spring Boot Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/css/w3style/w3.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
<head>
    <title>Welcome to our site</title>
</head>

<body>

<div layout:fragment="content">

		<table class="w3-table-all w3-card-4 w3-padding-64 w3-margin"
			style="width: 80%">
			<tr class="w3-black w3-hover-teal">
				<td>id</td>
				<td>name</td>
				<td>surname</td>
				<td>age</td>
				<td>email</td>
				<td>salary</td>
				<td>password</td>
				<td>actions</td>
			</tr>
			<tr th:each="employee:${employeeListfromControllerAndDB}">

				<td th:text="${employee.id}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.surname}"></td>
				<td th:text="${employee.age}"></td>
				<td th:text="${employee.email}"></td>
				<td th:text="${employee.monthSalary}"></td>
				<td th:text="${employee.password}"></td>

				<td><a th:href="@{deleteEmployee(id=${employee.id})}"
					class="w3-button w3-red">Delete</a> <a
					th:href="@{detailEmployee(id=${employee.id})}"
					class="w3-button w3-teal">Detail</a> <a
					th:href="@{updateEmployee(id=${employee.id})}"
					class="w3-button w3-blue">Update</a></td>


			</tr>
		</table>

</div>

</body>
</html>