<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
<meta charset="ISO-8859-1">
<title>Employee to update</title>
</head>
<body>
	<div class="w3-panel w3-padding-32">

		<h3>Spring Boot Employee Example</h3>
		<p>update employee</p>
		<form action="#"
			th:action="@{/employee/replaceEmployee/{idFromView}(idFromView=${employeefromController.id})}"
			th:object="${employeefromController}" method="post">


			<p>
				<label class="w3-text-gray"><b>id</b></label> <input
					class="w3-input w3-border w3-light-grey" name="id" type="number"
					th:field="*{id}" readonly>
			</p>

			<p>
				<label class="w3-text-gray"><b>Name</b></label> <input
					class="w3-input w3-border w3-light-grey" name="name"
					th:field="*{name}" type="text" required>
			</p>
			<p>
				<label class="w3-text-gray"><b>Surname</b></label> <input
					class="w3-input w3-border w3-light-grey" name="surname"
					th:field="*{surname}" type="text">
			</p>

			<p>
				<label class="w3-text-gray"><b>age</b></label> <input
					class="w3-input w3-border w3-light-grey" name="age"
					th:field="*{age}" type="number">
			</p>

			<p>
				<label class="w3-text-gray"><b>Password</b></label> <input
					class="w3-input w3-border w3-light-grey" name="password"
					th:field="*{password}" type="text" required>
			</p>

			<p>
				<label class="w3-text-gray"><b>Email</b></label> <input
					class="w3-input w3-border w3-light-grey" name="email"
					th:field="*{email}" type="text">
			</p>

			<p>
				<label class="w3-text-gray"><b>Month Salary</b></label> <input
					class="w3-input w3-border w3-light-grey" name="monthSalary"
					th:field="*{monthSalary}" step="0.01" min="0" type="number"
					value=0.0>
			</p>

			<p>
				<button class="w3-btn w3-black">update employee</button>
			</p>


		</form>
	</div>

</body>
</html>